@import '../../helpers/variables';

form {
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid $form-border;
  width: 60%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.20);
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.title {
  font-size: 26px;
  margin-bottom: 10px;
  border: none;
  color: $type;
   &:focus {
     outline: none;
   }
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid $form-border 1px;
  margin-bottom: 10px;
}

.list-item {
  height: 24px;
  resize: none;
  font-size: 18px;
  width: 100%;
  border: none;
  color: $type;
  margin: 10px 10px;
    &:focus {
      outline: none;
    } 
}

.strikethrough {
  text-decoration: line-through;
}

.list-control {
  height: 20px;
  width: 20px;
  padding: 2px 0px 25px 0px;
  border: none;
  cursor: pointer;
}

.delete-item {
  color: $hover;
  font-size: 24px;
  
  &:hover {
    color: $delete-hover;
    transition: color .5s ease;
  }
}

.note-controls {
  display: flex;
  justify-content: flex-end;
}

.save-note,
.delete-note {
  margin-left: 10px;
  color: $background;
  border: none;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
    
}

.save-note {
  background: $save-btn;
    &:hover {
      background-color: $save-btn-hover;
      transition: background-color .2s ease;
    }
}

.delete-note {
  background-color: $delete-btn;
    &:hover {
      background-color: $delete-hover;
      transition: background-color .2s ease;
    }
}