
$background: #fff;
$logo: #f4b70b;
$placeholder: #767676;
$type: #202124;
$icon: #606163;
$hover: #e8eaed;
$form-border: #e0e0e0;
$save-btn: #4285F4;
$save-btn-hover: #4285f4d6;
$check-mark: #0F9D58;
$delete-mark: #DB4437;