@import '../../helpers/_variables';

.App {
  font-family: 'Roboto', sans-serif;
  min-width: 375px;
}

//header styling
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -6px $placeholder;
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

h1,
i {
  font-size: 2rem;
}

a {
  text-decoration: none;
  
  &:link {
    color:inherit
  }
  &:active {
    color:inherit
  }
  &:visited {
    color:inherit
  }
  &:hover {
    color:inherit
  }
}

h1 {
  color: $placeholder;
  margin: 0 10px;
}

i {
  color: #f4b70b;
}

.new-note {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $placeholder;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: $hover;
    transition: background-color .5s ease;
  }
}

.form-container {
  display: flex;
  justify-content: center;
}

