@import '../../helpers/_variables';

.App {
  font-family: 'Roboto', sans-serif;
}

//header styling
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -6px $placeholder;
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

h1,
i {
  font-size: 2rem;
}

a {
  text-decoration: none;
  
  &:link {
    color:inherit
  }
  &:active {
    color:inherit
  }
  &:visited {
    color:inherit
  }
  &:hover {
    color:inherit
  }
}

h1 {
  color: $placeholder;
  margin: 0 10px;
}

i {
  color: #f4b70b;
}

.new-note {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #767676;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #e8eaed;
  }
}

.form-container {
  display: flex;
  justify-content: center;
}

input:focus,
button:focus, 
textarea:focus {
  outline: none;
}

.no-notes {
  margin-right: 20px;
  text-align: right;
}

.fa-arrow-up {
  font-size: 1rem;
  position: relative;
  left: 4px;
}